#group_image_area{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#group_img{
    width: 80%;
}

.sub_title{
    text-align: center;    
}

.member_info_area{
    text-align: center;
}

.member_list_area{
    display: inline-block;
    list-style: none;
    text-align: center;
    /* background-color: lightpink; */
    margin: 1%;
}

#comment{
    height: 50px;
    width: 50%;
}